<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tdarmo.klinikss">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AddDoctor"></activity>
        <activity android:name=".activity.ListDoctor" />
        <activity android:name=".activity.AddClinic" />
        <activity android:name=".activity.ListClinic" />
        <activity android:name=".activity.ListRegis" />
        <activity android:name=".activity.Registration" />
        <activity android:name=".activity.AdminDashboard" />
        <activity android:name=".activity.SignUp" />
        <activity android:name=".activity.Dashboard" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>